@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@font-face {
    font-family: 'TrajanPro';
    src: url('fonts/Trajan Pro Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --tailleTel: 675px;
    --spectralon: #fff;
    --griser: #afafaf;
    --vantablack: #000;
    --royalBlue: #3d58e1;
    --lavender: #8542a8;
    --lavenders:rgb(81, 13, 117);
    --scarlet: #bd182e;
    --cerulean: #3d8ce0;
    --sapphire: #3621d4;
    --sectionBordRad: 47px;
    --shadow: #0005;
    --res : calc(0.01 * 10vmin);
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Zain", sans-serif;
}

body {
    display: block;
    margin: 0px!important;
    background-color: #000;
}

header {
    width: 100%;
    height:11vw;
    text-align: center;
    align-items: center;
    background-color: var(--spectralon);
    background: linear-gradient(180deg, var(--lavenders), var(--lavender));
    padding: 20px 0;
    margin-bottom: -1px;
    border-radius: clamp(0px, 6vw, 70px);
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    & > .iconeD {
        width: 9%;
        float: right;
        transform: rotate(10deg) translateX(clamp(-3vw, -4vw, -6vw));
        align-self: auto;
        margin-top: clamp(0, 6vw, 2%);
    }

    & > .iconeG {
        width: 9%;
        float: left;
        transform: rotate(-10deg) translateX(clamp(2vw, 4vw, 5vw));
        margin-top: clamp(2%, 1vw, 3%);
        margin-right: clamp(2%, 1vw, 3%);
    }
}

main {
    display: block;
    padding: 10px;
    border-radius: 70px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    & .titre {
        margin-top: clamp(0px, 4vw, 90px);
    }
}

footer {
    position: relative;
    bottom: 0px;
    background-color: var(--vantablack);
    border-radius: clamp(20px, 6vw, 70px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.sign {
    height:30vw;
    width: 100%;
    display: inline-flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    color: var(--spectralon);
    padding: clamp(0px, 1vw, 20px) 0;

    & > div {
        transform: translateY(-40px);
        width: 20%;
    }

    & > .iconeD {
        align-self: flex-end;
        width: 10%;
        transform: translateX(-20px);
    }

    & > .iconeG {
        width: 12%;
        float: left;
        transform: rotate(10deg);
        margin-bottom: auto;
        margin-left: 20px;
    }
}

h1 {
    font-size: clamp(0px, 6vw, 7em);
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    margin-top:clamp(10px, 1vw, 30px);
}

h2 {
    color: var(--spectralon);;
    font-style: italic;
    font-size: clamp(0px, 10vw, 5em);
    text-indent: clamp(10px, 4vw, 40px);
    margin: 15px;
}

#textFavNone {
    display: none;
    flex-direction: row;
    color: var(--spectralon);
    font-style: normal;
    font-size: clamp(45px, 7vw, 5em);
    text-indent: 40px;
    margin: 30px clamp(5px, 2vw, 15px);

    & > img {
        margin-left: 10px;
        height: 1.2em;
        width: auto;
    }
}

h3 {
    color: var(--spectralon);
    font-size: clamp(15px, 3vw, 6em);
    text-align: center;
}

h6 {
    margin: 0;
    font-size: clamp(15px, 3vw, 1.5em);
    text-align: center;
}

.action {
    color: var(--griser);

    & > *:hover {
        text-decoration: underline;
        text-decoration-color: var(--griser);
    }
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

button {
    background-color: var(--spectralon);
    color: var(--vantablack);
    height: clamp(0px, 7vw, 50px);
    width: clamp(0px, 15vw, 150px);
    border-radius: 25px;
    font-size: clamp(0px, 4vw, 35px);
    border: 0;
    transition-duration: 0.2s;
    cursor: pointer;
}

button:hover {
    transition-duration: 0.2s;
    color: var(--spectralon);
    background-color: var(--scarlet);
    transform: scale(1.1);
}

body > nav {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, var(--lavender), var(--lavenders));
    margin: 0px;
    padding: clamp(0px, 1vw, 15px) clamp(0px, 1vw, 25px);
    box-shadow: var(--shadow) 0 20px 30px;
    position: sticky;
    top: 0;

    & div {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & #favMenu {
            width: 70px;
            height: 60px;

            &:hover {
                transform: scale(1.10);
                cursor:pointer;
            }
        }

        & button {
            margin: 0px clamp(0px, 1vw, 15px);
        }
    }
}

#buttonchange {
    border-radius: 55px!important;
    height: 55px;
    width: auto;
}

@media (max-width: 440px) {
    body > nav > div:nth-child(2) > * {
        height: clamp(0px, 15vw, 45px)!important;
        width: auto!important;
    }

    #buttonchange > * {
        height: clamp(0px, 15vw, 45px)!important;
        width: auto!important;
    }
}


.grid4 {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-auto-rows: 23vw;
    row-gap: clamp(30px, 4vw, 60px);
    column-gap: clamp(15px, 4vw, 1.5%);
    margin: clamp(0px, 3vw, 20px);
    padding: 0px clamp(0px, 3vw, 20px);
}

.grid2 {
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    grid-row: inherit;
    row-gap: clamp(30px, 4vw, 60px);
    column-gap: clamp(15px, 4vw, 3%);
    margin: clamp(0px, 3vw, 20px);
    padding: 0px clamp(0px, 3vw, 20px);

    & > img {
        width: 100%;
        margin: auto;
        border-radius: clamp(15px, 4vw, 50px);
        box-shadow: var(--shadow) 0 clamp(5px, 3vw, 20px) clamp(5px, 3vw, 30px);
        background-color: rgba(255, 255, 255, 0.137);
    }
}

@media screen and (min-width:0px) and (max-width:1024px) {
    .grid4 {
        grid-template-columns: 49% 49%;
        grid-auto-rows: 41vw;
    }

    .grid2 {
        grid-template-columns: 100%;

    }

    .cotedroit {
        margin-top: -20px!important;
    }
}

img {
    display: block;
    box-sizing: border-box;
}

.table {
    width: 90%;
    width: clamp(35px, 90vw, 90%);
    height: auto!important;
    margin: clamp(0px, 9vw, 40px) auto clamp(0px, 9vw, 80px) auto;
    border-radius: clamp(15px, 4vw, 50px);
    background-color: rgba(255, 255, 255, 0.137);
    box-shadow: var(--shadow) 0 20px 30px;
}

.foot {
    height: 90%;
}

.largeur {
    width: 100%!important;
    height: auto;
    margin: auto;
}

.hauteur {
    height: 100%!important;
    width: auto;
    margin: auto;
}

img.hauteur.lowQuality {
    height: 80%!important;
    width: auto!important;
}

img.largeur.lowQuality  {
    width: 80%!important;
    height: auto!important;
}

hr {
  border: none;
  border-top: 10px double #ffffff;
  color: #ffffff;
  overflow: visible;
  text-align: center;
  height: 40px;
  margin-top: 50px;
  margin: 60px 30px -10px;
  filter: blur(2px);
}

hr::after {
  background: #fff;
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.fondcran {
    position: fixed;
    top: 0px;
    filter: blur(1.3rem);
    z-index: -5;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.fade-out {
    opacity: 0; /* Rendre l'image invisible */
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1; /* Rendre l'image invisible */
    transition: opacity 0.5s ease-in-out;
}
    
/* Styles pour le bouton image */
#rotateButton {
    cursor: pointer;
    transition: transform 0.5s ease-in-out; /* Transition pour la transformation */
}
    
.rotate {
    transform: rotate(360deg); /* Rotation de 180 degrés */
}

.pp {
    width: 40%;
    margin: -15% auto;
}

.cotedroit {
    float: right;
    margin-right: 70px;
    margin-top: -100px;
}


/* Pour l'affichage des image en zoomer */

.smallThumb {
    display: block;
    transition-duration:.1s;
}

.smallThumb:hover {
    transform: scale(1.02);
    cursor:pointer;
}

.modal {
    display: none; 
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.fond_noir_desc {
    display: none; 
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 11;
    transition: all 0.5s ease-in-out;
}

#title_desc {
    color: var(--spectralon);
    font-weight: bold;
    font-family: 'TrajanPro', serif;
    text-align: center;
    margin: 10px 0;
}


@media (max-width: 676px) {
    #title_desc {
        font-size: 8vw!important;
    }
}

#desc {
    color: var(--spectralon);
    font-family: 'TrajanPro', serif;
    text-align: center;
    margin: clamp(0px, 0.5vw, 10px);
    font-size: clamp(0.5rem, 4vw, 2rem);
}


@media (min-width: 675px) {

    .modal-content {
        min-width: 25%;
        max-width: 80%;
        max-height: 80%;
        min-height: 70%;
        margin-top: 5%;
        object-fit: contain;
        object-position: center;
        transition: all 0.5s ease-in-out;
    }

    .description {
        position: absolute;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45vw;
        height: auto;
        flex-direction: column;
        opacity: 0;
        transform: translateX(30vw);
        transition: all 0.5s ease-in-out;
        padding: 20px;
        z-index: 12;

        & > img {
            width: 75%;
        }
    }

    #title_desc {
        font-size: 5vw!important;
    }

    .modal.active .modal-content {
        transform: translateX(-22vw)!important;
        max-width: 45vw;
    }

    .modal.active .description {
        pointer-events: all;
        opacity: 1;
        transform: translateX(22vw) translateY(0)!important;
    }

    .modal.active2 .modal-content {
        filter: brightness(30%);
    }

    .modal.active2 .description {
        pointer-events: all;
        opacity: 1;
        transform: translateX(0) translateY(10%)!important;
    }


}

@media (max-width: 675px) {
    .modal {
        flex-direction: column;
        overflow: scroll;
    }

    .modal-content {
        position: relative;
        min-width: 50vw;
        max-width: 90%;
        max-height: 75%;
        transform: translateY(20%);
        object-fit: contain;
        object-position: center;
        transition: all 0.5s ease-in-out;
    }

    .description {
        position: relative;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: auto;
        flex-direction: column;
        opacity: 0;
        transform: translateY(5%);
        transition: all 0.5s ease-in-out;
        padding: 20px;
        z-index: 12;

        & > img {
            width: 75%;
        }
    }

    .modal.active .modal-content {
        transform: translateY(10%)!important;
        max-height: 55%!important;
    }

    .modal.active .description {
        pointer-events: all;
        opacity: 1;
        transform: translateY(15%)!important;
    }

    .elementButton > img {
        width: clamp(0%, 30%, 100%);
        height: auto;
    }
}


/* Arrangement des image zoomé */
.elementButton {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    top: 0;
    right: 0;
    z-index: 15;
    margin: 20px;

    & > img {
        margin: 0 clamp(5px, 1vw, 20px);
        height: auto;

        &:hover {
            transform: scale(1.10);
            cursor:pointer;
        }
    }
}


/* mini icone quand img favori */

#icoFav {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
}