@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

:root {
    --spectralon: #fff;
    --vantablack: #000;
    --royalBlue: #3d58e1;
    --lavender: #8542a8;
    --lavenders:rgb(81, 13, 117);
    --scarlet: #bd182e;
    --cerulean: #3d8ce0;
    --sapphire: #3621d4;
    --sectionBordRad: 47px;
    --shadow: #0005;
}

* {
  font-family: "Zain", sans-serif;
  font-style: normal;
}

body {
    margin: 0px!important;
    background-color: #000;

}

header {
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: var(--spectralon);
    background: linear-gradient(180deg, var(--lavenders), var(--lavender));
    padding: 20px 0;
    margin-bottom: -1px;
        border-radius: 70px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    & > .iconeD {
        height: 200px;
        float: right;
        rotate: 10deg;
        margin-right: 100px;
        margin-left: -150px;
        margin-top: 10px;
        margin-bottom: auto;
    }

    & > .iconeG {
        height: 180px;
        float: left;
        rotate: -10deg;
        margin-left: 100px;
        margin-right: -150px;
        margin-top: 20px;
        margin-bottom: auto;
    }
}

main {
    position: relative;
    padding: 10px;
    border-radius: 70px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

footer {
    width: 100%;
    display: inline-flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: var(--vantablack);
    color: var(--spectralon);
    padding: 20px 0;
    border-radius: 70px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    & > .iconeD {
        align-self: flex-end;
        width: 200px;
        transform: rotate(10deg) translateX(-20px);
    }

    & > .iconeG {
        width: 200px;
        float: left;
        rotate: 10deg;
        margin-bottom: auto;
        margin-left: 20px;
    }
}

h1 {
    font-size: 7em;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    margin: 30px 0 50px 0;
}

h2 {
    font-size: 4em;
    text-indent: 20px;
    margin: 15px 0 50px 0;
}

h3 {
    font-size: 3em;
    text-align: center;
}

.grid4 {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 60px 20px;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.grid2 {
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    grid-gap: 60px 30px;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;

    & > img {
        width: 100%;
        margin: auto;
        border-radius: 50px;
        box-shadow: var(--shadow) 0 20px 30px;
    }
}

img  {
    display: block;
}

.foot {
    height: 30em;
}

.largeur {
    width: 100%;
    margin: auto;
}

.hauteur {
    height: 400px;
    margin: auto;
}

.lowQuality {
    height: 300px!important;
    width: auto!important;
}

hr {
  border: none;
  border-top: 10px double #ffffff;
  color: #ffffff;
  overflow: visible;
  text-align: center;
  height: 40px;
  margin-top: 50px;
}

hr::after {
  background: #fff;
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.fond_ecran {
    position: sticky;
    top: 0px;
    margin-bottom: -1000px;
    filter: blur(1.5rem);
    z-index: -5;
    width: 100%;
    height: auto;
}

.pp {
    height: 120px;
    margin: -50px auto;
}